*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(33, 33, 105);
}
button{
  height: 40px;
  width: 90px;
  border-radius: 25px;
  border: none;
  color: aliceblue;
  background-color: #110F67;
  cursor: pointer;
}
button:hover{
  transition: all 1s;
  scale: 1.1;

}